/* to make sure everything sizes appropriately */
* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

body, html {
  /* to display background image */
  height: 100%;

  /* to override default value for better styling (especially for mobile) */
  margin: 0;

}

/* to center and not to allow to grow above 800px */
.container {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.bg_img {
  background-image: url("images/cowbow_farm.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* flex container (children: .assets and .right_container */
  display: flex;
  flex-direction: row;

}

.assets {
  background:rgba(155, 47, 47, 0.5);

  /* property for .assets as a flex-item inside .bg_img */
  flex-basis: 25%;

  /* flex container (children .barn and .field */
  display: flex;
  flex-direction: column;
}

.right_container {
  background: rgba(135, 155, 135, 0.5);

  /* property for .assets as a flex-item inside .bg_img */
  flex-grow: 1;

  /* try to set width */

  /* <!-- flex container for .game_status, .pick_animals, .pick_crops, .game_info, .btn_container --> */
  display: flex;
  flex-direction: column;

}


.barn {
  background: rgba(190, 162, 18, 0.7);
  /* explicitly set line-height for calculations of height in .barn_animals */
  /* line-height: 1.2em; */
  /* flex item of .assets */
  /* set flex-grow 1 so .barn takes all available space when .field is not displayed */
  flex-grow: 1;

  /* to center word barn */
  text-align: center;

}

.barn_field_contents {
  width: 80%;
  /* default line-height is normal: 1.2 */
  /* try to calculate based on vh */
  height: calc(50vh - 1em * 1.2);
  /* max-height: 30vh; */

  margin: 0 auto;
  background: black;
  border-radius: 10px;
  /* to enable scrolling */
  overflow: scroll;

}

.barn_field_contents > img {
  width: 100%;
  /* height: auto; */
  padding-top:0.5rem;
  padding-bottom: 0.5rem;


}

.field {
  /* to display .field change display: none to block */
  display: block;
  background: rgba(26, 204, 26, 0.7);

  /* flex item of .assets */
  /* flex-basis: 50%; */
  /* to center word 'field' */
  text-align: center;
}

.game_status {
  background: rgba(27, 27, 192, 0.5)

  /* flex-item on .right_container */

}

.pick_animals {
  background: rgba(189, 22, 22, 0.5);

  /* flex item of .right_container */
  /* flex-grow: 1; */

}

.pick_crops {
  background: rgba(17, 12, 12, 0.5);

  /* flex item of .right_container */
  flex-grow: 1;
}

.game_info {
  background: rgba(248, 163, 4, 0.5);

  /* flex-item of .right_container */
  /* consider toggling to flex-basis 30% to expand game-info field */
  /* flex-basis: 30%; */
}

.btn_container {
  background: rgba(201, 23, 201, 0.5);
  /* to move button 'Next Year' right */
  text-align: right;
}

.store_animals_crops {
  background: black;
  width: 90%;
  height: 150px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  align-items: flex-start;

  /* overflow: scroll; */

}

.store_animals_crops > img {
  /* flex-basis: 25%; */
  max-height: 100%;
  max-width: auto;
  /* object-fit: contain; */

}


/* may be needed for .right_container game status */
p {
  height: 1rem;
}
